<template>
  <div :class="$style.Container">
    <Button></Button>
    <div :class="$style.Label">Posts:</div>
    <Posts></Posts>
  </div>
</template>

<script>
import Posts from './widgets/Posts'
import Button from './widgets/Button'
import { mapState,mapMutations } from 'vuex'
import axios from 'axios'

export default {
  name: 'UserPosts',
  computed: mapState(['posts']),
  methods:{
      ...mapMutations(['setAllPosts','setPosts']),
  },
  components:{
    Posts,
    Button
  },
  mounted () {
    axios.get("https://jsonplaceholder.typicode.com/posts").then((response)=>{
        this.setAllPosts(response.data);
    });
  }
}
</script>

<style module>
.Container{
    padding: 0px 30px 30px 30px;
}
.Label{
  font-weight: bold;
  margin-bottom: 20px;
}
</style>