<template>
  <div :class="$style.Container">
      <UserList></UserList>
      <UserPosts></UserPosts>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuex from 'vuex'
import UserList from './UserList'
import UserPosts from './UserPosts'
Vue.use(Vuex);

const store = new Vuex.Store({
    state: {
        users:null,
        allUsers:null,
        posts:null,
        allPosts:null
    },
    mutations: {
      setUsers(state,payload){
        state.users=payload;
      },
      setPosts(state,payload){
        state.posts=payload;
      },
      setAllUsers(state,payload){
        state.allUsers=payload;
      },
      setAllPosts(state,payload){
        state.allPosts=payload;
      }
    }
})

export default {
  name: 'UserListPanel',
  store,
  components:{
    UserList,
    UserPosts
  }
}
</script>

<style module>
.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .Container{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
}
</style>