<template>
  <div :class="$style.Container">
    <img src="../../assets/logo.png" />
    <SearchInput></SearchInput>
    <Users></Users>
  </div>
</template>

<script>
import SearchInput from './widgets/SearchInput'
import Users from './widgets/Users'
import { mapMutations } from 'vuex'
import axios from 'axios'

export default {
    name: 'UserList',
    methods:{
        ...mapMutations(['setAllUsers','setUsers']),
    },
    components:{
        SearchInput,
        Users
    },
    mounted () {
      axios.get("https://jsonplaceholder.typicode.com/users").then((response)=>{
          this.setAllUsers(response.data);
          this.setUsers(response.data);
      });
    }
}
</script>

<style module>
.Container{
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-rows: 65px 45px auto;
    grid-row-gap: 20px;
}
</style>