<template>
    <div :class="$style.Container">CREATE A NEW POST</div>
</template>

<script>

export default {
    name: 'Button',
}
</script>

<style module>
.Container{
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 45px;
    border-radius: .5rem;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 40px 0px 30px 0px;
}
.Container:hover{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .Container{
        width: 510px;
    }
}
</style>