<template>
    <div :class="$style.Container">
        <div :class="$style.Item" v-for="post in posts" :key="post.id">
            <div><span :class="$style.Label">Title:</span> {{post.title}}</div>
            <div :class="$style.Content"><span :class="$style.Label">Content:</span> {{post.body}}</div>
        </div>
    </div>
</template>

<script>
import { mapState,mapMutations } from 'vuex'

export default {
    name: 'Users',
    computed: mapState(['posts']),
    methods:{
        ...mapMutations(['setPosts'])
    }
}
</script>

<style module>
.Container{
    overflow-y: scroll;
    max-height: 800px;
    width: 530px;
}
.Item{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    height:30px;
    display: grid;
    align-content: center;
    background-color: #ffffff;
    border-radius: .5rem;
    width: 485px;
    transition: all 0.3s;
}
.Item:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height:100px;
}
.Item:hover .Content{
    display: inline;
}
.Label{
    color: #827e99;
    font-weight:bold;
}
.Content{
    display: none;
}
@media only screen and (max-width: 768px) {
    .Container{
        width: 520px;
    }
    .Item{
        width: 468px;
    }
}
</style>