<template>
    <input :class="$style.Container" placeholder="Search by name:" @keyup="setUsers(searchUser($event,allUsers))"/>
</template>

<script>
import { mapState,mapMutations } from 'vuex'
import _ from 'lodash'

export default {
    name: 'SearchInput',
    computed: mapState(['allUsers']),
    methods:{
        ...mapMutations(['setUsers']),
        searchUser:(e,all)=>{
            let result=_.filter(all,x=>{
                switch(e.target.value){
                    case "":return x;
                    default:return x.name.match(new RegExp(e.target.value,"gi")) && e.target.value.match(/\S/gi)?x:null;
                }
            });
            return result;
        }
    }
}
</script>

<style module>
.Container{
    color: #827e99;
    font-size: 14px;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
    outline:none;
    padding-left: 20px;
    max-width: 505px;
}
@media only screen and (max-width: 768px) {
    .Container{
        width: 490px;
    }
}
</style>