<template>
    <div :class="$style.Container">
        <div :class="$style.Item" v-for="user in users" :key="user.id" @click="setPosts(searchPosts(allPosts,user.id))">
            <div><span :class="$style.Label">Name:</span> {{user.name}}</div>
            <div><span :class="$style.Label">Email:</span> {{user.email}}</div>
            <div><span :class="$style.Label">Phone:</span> {{user.phone}}</div>
            <div><span :class="$style.Label">Address:</span> {{user.address.street}} {{user.address.suite}} {{user.address.city}}</div>
        </div>
    </div>
</template>

<script>
import { mapState,mapMutations } from 'vuex'
import _ from 'lodash'

export default {
    name: 'Users',
    computed: mapState(['users','posts','allPosts']),
    methods:{
        ...mapMutations(['setUsers','setPosts']),
        searchPosts:(posts,id)=>{
            let result=_.filter(posts,{userId:id});
            return result;
        }
    }
}
</script>

<style module>
.Container{
    overflow-y: scroll;
    max-height: 710px;
    display: grid;
    grid-template-rows: repeat(auto-fill,115px);
    justify-content: left;
    width: 530px;
}
.Item{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 20px 25px 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: .5rem;
    width: 485px;
    transition: all 0.3s;
}
.Item:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.Label{
    color: #827e99;
    font-weight:bold;
}
@media only screen and (max-width: 768px) {
    .Container{
        width: 520px;
    }
    .Item{
        width: 468px;
    }
}
</style>