<template>
  <div :class="$style.Container">
    <div></div>
    <UserListPanel></UserListPanel>
    <div></div>
  </div>
</template>

<script>
import UserListPanel from './UserList/UserListPanel';

export default {
  name: 'AppLayout',
  components:{
      UserListPanel
  }
}
</script>

<style module>
.Container{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1140px auto;
    background-color: #FAFAFA;
    background-image: url('../assets/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    .Container{
        grid-template-columns: 10px 1140px 10px;
    }
}
@media only screen and (max-width: 992px) {
    .Container{
        background-position: left bottom;
    }
}
@media only screen and (max-width: 768px) {
    .Container{
        height: auto;
        background-image:none;
    }
}
</style>
