<template>
  <div id="app">
    <AppLayout></AppLayout>
  </div>
</template>

<script>
import AppLayout from './components/AppLayout.vue'

export default {
  name: 'app',
  components: {
    AppLayout
  }
}
</script>

<style>
#app{
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 0 !important
}
</style>
